@model Primer_Programa.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>

    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="description" content="Primer Programa" />
    <meta name="keywords" content="HTML5, CSS, JAVASCRIPT" />
    <!--<title>Primer Diseño</title>-->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />

</head>

<body>
    <div class="container">
        <div class="auth-wrapper">
            <div class="col-md-4 col-md-offset-4">
                <div class="card-body text-center">
                    <div class="card-body">
                        <img src="~/assets/img/login.jpg" class="img-responsive" />
                    </div>
                    <div class="panel-body">
                            <div class="form-group">
                                <input type="text" placeholder="Usuario" id="txt_usuario" name="usuario" class="form-control text-center" value="" autofocus />
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Contraseña" id="txt_contraseña" name="contraseña" class="form-control text-center" value="" />
                            </div>
                            <!--<a href="#" data-toggle="modal" style="font-size:20px;" data-target="#Olvido_Constraseña" />¿Olvidó su Constraseña?-->
                            <button onclick="Ingresar()" class="btn btn-primary shadow-2 mb-4">Entrar</button>
                            <!--<br />
                            <label>Usuario: @Model.usuario </label>
                            <br />
                            <label>Usuario: @Model.contraseña </label>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

   <script src="~/Scripts/jquery-1.10.2.min.js"></script>
   <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        function Ingresar()
        {
            window.location.href = "@Url.Action("Sistema","Sistema")"
        }
    </script>

</body>
</html>
