@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html lang="en">
<head>

    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="description" content="Primer Programa" />
    <meta name="keywords" content="HTML5, CSS, JAVASCRIPT" />
    <!--<title>Primer Diseño</title>-->
    <!--<link rel="stylesheet" href="~/Content/Site.css" />-->
    <!--<link rel="stylesheet" href="~/Content/bootstrap.min.css" />-->
    <link rel="icon" href="favico_perro.png" type="image/x-icon">

</head>

<body>
        <div class="container">
            <div class="auth-wrapper">
                <div class="auth-content">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3 class="mb-6">Login</h3>

                            <img src="~/assets/img/login.jpg" class="img-responsive" />
                            <input type="text" placeholder="Usuario" id="usuario" class="form-control" value="">
                            <input type="password" placeholder="Contraseña" id="contraseña" class="form-control" value="">
                                <!--<a href="#" data-toggle="modal" style="font-size:20px;" data-target="#Olvido_Constraseña" />¿Olvidó su Constraseña?-->

                                <button onclick="Ingresar()" class="btn btn-primary shadow-2 mb-4">Entrar</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    <!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>-->
    <!--<script src="~/Scripts/bootstrap.min.js"></script>-->

</body>
</html>
